@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

footer {
  margin: 50px 0;
  text-align: center;
}
footer p{
  font-size: 14px;
}
footer a{
  color: red;
  text-decoration: none;
  opacity: 1;
}
footer a:hover{
  transition: all ease 0.3s;
  opacity: 0.5;
}

.lists {
  margin-top: -150px;
}
.loading {
  width: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading img {
  width: 200px;
}
